@charset "utf-8";
/* 动抽奖活动 */
body,div,ul,li,dl,dt,dd,p,span,em,i,strong,h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
ul,li{ list-style:none;}
li{ float:left;}
i,em,strong{ font-style:normal; font-weight:normal; display:inline-block;}
body{ font-family:"微软雅黑";}

.draw{ width:1280px; height:720px; overflow:hidden; background:url(images/draw_bg.jpg) no-repeat; position:relative;}

.TheWinners{width:340px; height:125px; overflow:hidden; position:absolute; left:140px; top:512px;}
.TheWinners ul{width:340px; height:186px;}
.TheWinners li{ width:100%; height:25px;}
.TheWinners li em{ width:160px; text-align:left; color:#fff; font-size:16px; height:25px; line-height:25px; float:left;}
.TheWinners li i{ width:180px; text-align:left; color:#fff; font-size:14px; height:25px; line-height:25px;}

.MyBut{ width:186px; height:88px;  position:absolute; left:207px; top:428px;}
.MyBut ul{ display:inline-block; margin:0 auto;}
.MyBut li{width:186px; height:88px; background:url(images/Me_but.png) center center no-repeat;}
.MyBut li.currenta{ background:url(images/Me_buta.png) center center no-repeat;}

.ActBUt{ width:500px; text-align:center; position:absolute; left:585px; top:575px;}
.ActBUt ul{ display:inline-block; margin:0 auto;}
.ActBUt li{ width:190px; height:76px; margin:0 20px;}
.ActBUt li.ActBut01{background:url(images/ActBut01.png) center center no-repeat;}
.ActBUt li.ActBut01.currenta{ background:url(images/ActBut01a.png) center center no-repeat;}
.ActBUt li.ActBut02{background:url(images/ActBut02.png) center center no-repeat;}
.ActBUt li.ActBut02.currenta{ background:url(images/ActBut02a.png) center center no-repeat;}

.ReturnBut{ width:55px; height:26px; position:absolute; right:18px; top:18px;}
.ReturnBut li{width:55px; height:26px; line-height:60px; font-size:21px; color:#fff; text-align:center; background:url(images/ReturnBut.png) center center no-repeat;}
.ReturnBut li.currenta{ background:url(images/ReturnButa.png) center center no-repeat;}

.DrawNum{ width:292px; height:93px; position:absolute; left:183px; top:282px; z-index:2; overflow:hidden;}
.DrNumFir{ width:75px; height:93px; position:absolute; left:0; top:0;}
.DrNumSec{ width:75px; height:93px; position:absolute; left:87px; top:0;}
.DrNumThi{ width:75px; height:93px; position:absolute; left:172px; top:0;}
.DrawNum ul{ width:75px; height:940px; position:absolute; left:0; }
.DrawNum li{ width:75px; height:93px; overflow:hidden; background:url(images/DramNum.png) no-repeat;}
.DrawNum li.DrNu00{ background-position:0 0;}
.DrawNum li.DrNu01{ background-position:-130px 0;}
.DrawNum li.DrNu02{ background-position:-255px 0;}
.DrawNum li.DrNu03{ background-position:-379px 0;}
.DrawNum li.DrNu04{ background-position:-503px 0;}
.DrawNum li.DrNu05{ background-position:-629px 0;}
.DrawNum li.DrNu06{ background-position:-754px 0;}
.DrawNum li.DrNu07{ background-position:-877px 0;}
.DrawNum li.DrNu08{ background-position:-1000px 0;}
.DrawNum li.DrNu09{ background-position:-1118px 0;}



/**弹窗**/
.popup{ width:1280px; height:720px; position:relative; left:0; top:0;}
.pop_zhe{position:absolute; width:100%; height:100%;  z-index:10; left:0; top:0; overflow:hidden; zoom:1; display:block;background: rgba(0, 0, 0, 0.8) !important; filter: alpha(opacity=80); background:#000;}

.ActivityRules{ width:851px; height:585px; position:absolute; left:240px; top:94px; z-index:111; background:url(images/ActivityRules.png) no-repeat;}

.PopBut{ width:100%; text-align:center; position:absolute; left:-30px; bottom:15px; z-index:11;}
.PopBut ul{ display:inline-block; margin:0 auto;}
.PopBut li{ background:url(images/PopBut.png) right -55px no-repeat; padding-right:11px; height:55px; margin:0 30px;}
.PopBut li strong{ background:url(images/PopBut.png) 0 0 no-repeat;padding: 0 20px 0 31px; font-size:22px; color:#b50303; text-align:center; height:55px; line-height:54px; float:left;}
.PopBut li.currenta{ background:url(images/PopButa.png) right -55px no-repeat;}
.PopBut li.currenta strong{ background:url(images/PopButa.png) 0 0 no-repeat;}

.NotWinning,.ForSuccNo{ width:602px; height:485px; position:absolute; left:344px; top:174px; z-index:111;}
.NotWinning p,.ForSuccNo p{ width:602px; height:485px;}

.MonExperience,.AccSucc,.GiveUp,.CorrectPho{ width:655px; height:485px; position:absolute; left:344px; top:174px; z-index:111;}
.MonExperience p,.AccSucc p,.GiveUp p,.CorrectPho p{ width:655px; height:485px;}

.Im_phone{ width:895px; height:580px; background:url(images/Im_phone.png) center top no-repeat; position:absolute; left:200px; top:68px; z-index:11;}
.InKey{ width:296px; height:210px; margin:95px auto 0;}
.InKey ul{ width:296px; height:69px;overflow:hidden;}
.InKey li{ width:73px; height:68px; line-height:68px; font-size:32px; color:#fff; text-align:center; background:#2f3132; border-right:1px solid #47494a;border-top:1px solid #47494a; }
.InKey li.currenta{ background:#fa6f13; color:#fff; border-right:1px solid #834b25;}
.InKey li span{ width:73px; height:68px;background:url(images/KeyDel.png) center center no-repeat; display:inline-block;}
.InKey li strong{width:73px; height:68px; font-size:24px; display:inline-block;}
.phone,.phone2{margin:0px auto 0; width:445px; height:70px; overflow:hidden;}
.phone2{ margin-top:-20px;}
.phone li,.phone2 li{ margin:0 auto; width:415px; height:70px; line-height:70px; font-size:20px; letter-spacing:2px; color:#333;padding-left:30px; background:url(images/InPhoB.png) center center no-repeat;}
.phone li.currenta,.phone2 li.currenta{ background:url(images/InPhoBa.png) center center no-repeat;}
.WinnNum001,.WinnNum011,.WinnNum101,.WinnNum111{ width:180px; height:80px; position:absolute; left:35px; top:125px;}
.WinnNum001{ background:url(images/WinnNum001.png) no-repeat;}
.WinnNum011{ background:url(images/WinnNum011.png) no-repeat;}
.WinnNum101{ background:url(images/WinnNum101.png) no-repeat;}
.WinnNum111{ background:url(images/WinnNum111.png) no-repeat;}



.box_root{ width:1280px; height:720px; position:relative;}
.HoldUp{ width:950px; height:500px; position:absolute; left:165px; top:110px; background:url(images/HoldUp.jpg) no-repeat; z-index:111111;}
.HoldUp .ReturnBut{ right:8px; top:30px;}
.HoldUpBut{ width:222px; height:92px; position:absolute; left:372px; top:400px; z-index:11111;}
.HoldUpBut ul li{width:222px; height:92px; background:url(images/HoldUp_li.png) center center no-repeat;}
.HoldUpBut ul li.currenta{ background:url(images/HoldUp_lia.png) center center no-repeat;}