<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rain.dao.mapper.ExcelDataMapper">
    <insert id="insertPriceCata" parameterType="java.util.List">
        insert into aog_price_catalugue_2007 (ID, SUPPLIER, PART_NUMBER,
        ORIG_PART_NUMBER, DESCRIPTION, KEY_WORD,LIST_PRICE, NET_PRICE,
        UNIT_PRICE,PRICE,LEAD_TIME,CAGE_CODE,AIRCRAFT,SELLING_UOM_CD,QTY_PER,
        STDPKGQTY,MOQ)
        VALUE
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.supplier},#{item.partNumber},#{item.OrigPartNumber},
            #{item.description},#{item.keyWord},#{item.listPrice},#{item.netPrice},
            #{item.unitPrice},#{item.price},#{item.leadTime},#{item.cageCode},
            #{item.aircraft},#{item.SellingUomCd},#{item.qtyPer},#{item.stdpkgqty},
            #{item.moq})
        </foreach>
    </insert>

    <update id="insertPriceCata" parameterType="java.util.List">
        UPDATE  aog_price_catalugue_2007 (ID, SUPPLIER, PART_NUMBER,
        ORIG_PART_NUMBER, DESCRIPTION, KEY_WORD,LIST_PRICE, NET_PRICE,
        UNIT_PRICE,PRICE,LEAD_TIME,CAGE_CODE,AIRCRAFT,SELLING_UOM_CD,QTY_PER,
        STDPKGQTY,MOQ)
        VALUE
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.supplier},#{item.partNumber},#{item.OrigPartNumber},
            #{item.description},#{item.keyWord},#{item.listPrice},#{item.netPrice},
            #{item.unitPrice},#{item.price},#{item.leadTime},#{item.cageCode},
            #{item.aircraft},#{item.SellingUomCd},#{item.qtyPer},#{item.stdpkgqty},
            #{item.moq})
        </foreach>
    </update>
</mapper>